{% extends "base_bootstrap.html" %}
{% load crispy_forms_filters %}
{% load i18n %}
{% block head %}

<title>{% trans "Set Password" %}</title>
{% endblock %}

{% block content %}
    <h1>{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn" type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}
{% block js %}
<script>
    const password_tags = document.querySelectorAll("input[type=password]");
    const label_tags = document.querySelectorAll("label");

    password_tags.forEach(tag=>{tag.setAttribute('autocomplete', 'off');})
    label_tags.forEach(tag=>{tag.style.display = 'none'})
</script>
{% endblock %}
