{% extends 'base_bootstrap.html' %}
{% load crispy_forms_filters %}

{% load crispy_forms_tags %}

{% comment %}load i18n is for trans block{% endcomment %}

{% load i18n %}

{% block head %}
<title>{% trans "Change Password" %}</title>
{% endblock %}

{% block content %}
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary float-right" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
