{%extends 'base_bootstrap.html' %}
{% load crispy_forms_filters %}
{%load crispy_forms_tags %}

{%block head%}
<title>SignUp|MedStore</title>
<style>
    body{
        background: #292727;
    }
    .form-c{
        margin-top: 20px;
        position: absolute;
        left: 20vw;
        right: 20vw;
        top: 15vh;
        background: #1d1c1c;
        padding: 50px 100px;
        box-shadow: 2px 2px 5px 10px #000;
        color: #fff !important;
    }
    input{
        background: transparent !important;
        border: solid 2px #4040c7 !important;
        border-radius: 25px !important;
        color: #e8dfdf !important;
    }
    .btn{
        position: absolute;
        border: 2px solid green;
        padding: 5px 15px;
        border-radius: 25px;
    }
    input:focus{
        box-shadow: inset 1px 1px 2px 1px #f00 !important;
    }
    button.btn:hover{
        background: #2ebd2e !important;
        border-color: #1d1c1c;
        transition: 1s;
        color: #f1f1f1 !important;
    }
    .inline{
        display: inline-block;
        margin-left: 0;
        margin-right: 0;
        width: 49.2%;
        text-align: center;
    }
    @media screen and (max-width: 980px){
        .form-c{
            left: 15%;
            right: 15%;
            top: 20vh;
            padding-left: 40px;
            padding-right: 40px;
        }
        .inline{
            display: block;
            width: 100%;
            text-align: unset;
        }
    }
    @media screen and (max-width: 480px){
        .form-c{
            left: 5px;
            right: 5px;
            top: 25vh;
            padding-left: 20px;
            padding-right: 20px;
        }
        .inline{
            display: block;
            width: 100%;
            text-align: unset;
        }
    }
</style>
{% endblock %}

{% block content %}
<div class="form-c">
    <h1 style="text-align: center; margin-bottom: 20px; border-bottom: 2px double #f00; opacity: .8; text-shadow: 1px 1px 5px #f4f6ff"> SignUp </h1>
    <form method="post" autocomplete="off">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-pre" type="submit" style="color: #fff;">Sign up</button>
    </form>
    </div>
<div id="ref" class="alert" style="color: #fff; position: relative; text-align: center; display: block; clear: both; width: 100%">
    Already have an account? <a href="{% url 'account_login' %}">Login</a>
</div>
{% endblock %}
{% block footer %}{% endblock %}
{% block js %}
<script>
    let labels = document.getElementsByTagName("label")
    for(let i=0; i<2; i++){
        labels[i].style.display = "none";
    }
    for(let pass of document.querySelectorAll("input[type=password]")){
        pass.setAttribute("autocomplete", "off");
    }
    if(location.pathname === "/login/" || location.pathname === "/signup/"){
        document.getElementById("log").remove();
    }
    inputs = document.getElementsByClassName("form-group");
    inputs[3].classList.add("inline");
    inputs[2].classList.add("inline");
</script>
{% endblock %}
