{%extends 'base_bootstrap.html' %}
{% load static %}
{%block head%}
<title>MedStore | Cart</title>
<meta name="description" content="MedStore|Cart of {{request.user.username}}">
{%endblock%}
{%block content%}
<h1 style="text-align: center; font-family: cursive; color: royalblue">Your MedCart</h1>
{% if items %}
<table class="table table-hover">
    <tr>
        <th>Medicine</th>
        <th>Quantity</th>
        <th>Cost/Item</th>
        <th>Amount</th>
    </tr>
{%for item in items %}
    <tr id="row{{item.id}}">
        <td>{{item.item}}</td>
        <td><a class="sc{{item.id}}" role="button" href="{%url 'cart:decrease' item.item.slug%}"><span class="badge badge-dark">➖</span> </a>
            <span id="sc{{item.id}}" class="quantity">{{item.quantity}}</span>
            <a class="sc{{item.id}}" role="button" href="{%url 'cart:increase' item.item.slug%}"><span class="badge badge-dark">➕</span> </a>
        </td>
        <td>{{ item.item.price }}</td>
        <td class="total">{{item.total_amount}}</td>
    </tr>
    {%endfor%}
{% if items.count > 0 %}
    <tfoot id="aggregate">
        <td>Total: </td>
        <td>0</td>
        <td>-</td>
        <td>0.00</td>
    </tfoot>
{% endif %}
</table>
<a href="{%url 'medicines:all' %}" class="btn btn-success">Continue Shopping</a>
<a style="float: right;" class="btn btn-warning" href="{%url 'checkout:order' %}">Checkout</a>
{%else%}
<h4>No Medicine here</h4>
<a href="{%url 'medicines:all' %}" class="btn btn-success">Shop for Medicines</a>
{%endif%}
{%endblock%}
{%block js%}
    <script src={% static 'cart.js' %}></script>
{%endblock%}
