{%extends "base_bootstrap.html"%}
{% load static %}
{%block head%}
    <title>MedStore | All of your Need</title>
    <meta name="google-site-verification" content="GNeU33AZBqoYTnNpSDM309tRlL--QdT1ETOtc4XVW-E" />
    <meta name="description" content="MedStore| A medicine ecommerce site made for college project">
    <style>
        #side-block{position: fixed;top: 50%;right: 1em;background: #333;padding: .2em .5em;border-radius: 5px;color: #fff}
    main{display: flex; min-height: 70vh; align-items: center; justify-content: space-around; flex-wrap: wrap;font-family: ubuntu, cursive, monospace}
    main>div{display: flex; justify-content: space-around; flex-wrap: wrap}
    .fancy_link{appearance: none; -webkit-appearance: none;border: 2px solid transparent; margin: .2em;padding: 5px; background: transparent}
    .fancy_link>span{opacity: 0;transition: opacity 500ms;}

    .fancy_link:hover{box-shadow: 0 0 2px #2b9cff; background: #e8dfdf}
    .fancy_link:hover>span{opacity: 1; font-weight: bold}
    </style>
{%endblock%}

{% block content%}
    <p style="border: 2px solid red; font-weight: bold; margin: auto; padding: .5em 1em;">
        This site is not intended for real purchase. This site is developed for educational purpose only as a
        project for submission.
    </p>

    <main>
        <h1>Medstore: an online medical shop</h1>
        <div>
            <button data-take-me="{% url 'medicines:all' %}" class="fancy_link"><span>View all</span><img src="{% static 'assets/med_all.svg' %}" alt> </button>
            <button data-take-me="{% url 'cart:home' %}" class="fancy_link"><span>Cart</span><img src="{% static 'assets/cart.svg' %}" alt> </button>
            <button data-take-me="{% url 'Account:profile' %}" class="fancy_link"><span>Profile</span><img src="{% static 'assets/profile.svg' %}" alt> </button>
        </div>
    </main>

    {% if Dev_Env %}
        <aside id="side-block">Dev Environment</aside>
    {% endif %}
{%endblock%}
