.idea/
/home/templates/base_menu.html
*.pyc
**/__pycache__/*.pyc
__pycache__/
**/__pycache__/
.vscode/
ngrok.exe
medicines/__pycache__/
home/__pycache__/
medical/__pycache__/
__pycache__/*.pyc
db.sqlite3
