{% extends 'base_bootstrap.html' %}
{%load crispy_forms_tags %}
{%load static %}
{%block content%}
<div class="container mt-5 text-center">
<h2>Pay with Stripe</h2>
<!--<form action="#" method="post">-->
<!--  {% csrf_token %}-->
  <button id="submitBtn">Pay with Stripe</button>
<!--  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"-->
<!--    data-key="{{ key }}"-->
<!--    data-description="Complete your order"-->
<!--    data-amount="{{ pay }}"-->
<!--    data-locale="auto">-->
<!--</script>-->
<!--</form>-->
</div>
{%endblock%}
{%block js%}
<script src="https://js.stripe.com/v3/"></script>
<script src="{%static 'stripe_test.js' %}"></script>
{%endblock%}