.list_table tr td{
    padding: 10px 20px;
}
#category{
    font-size: initial;
}
.product{
    display: flex;
    clear: both;
    margin: 25px 0;
    flex-wrap: wrap;
}
.product_image{
    width: 200px;
    height: 100px;
    float: left;
}
.desc{
    float: left;
    margin: 0 50px;
}
.no-style product{
    text-decoration: none !important;
}
