{% extends "base_bootstrap.html" %}
{% load static %}
{%block head%}
    <title>{{medicine}}|MedStore</title>
    <meta name="description" content="{{medicine}}|{{medicine.description|truncatewords:10}}">
    <link rel="stylesheet" href="{%static 'style.css'%}">
{%endblock%}
{% block content %}
    {% if medicine %}
        <div class="info">
        <h2>{{medicine.name}}(<span id="category">{{medicine.category}}</span>)</h2><br/>
        Info: <p>{{medicine.description}}</p>
        Price: {{medicine.price}}<br/>
        {%if medicine.quantity > 0%}
            Quantity: <span id="quantity">{{medicine.quantity}}</span><br/>
            </div>
            {%if medicine.thumbnail%}
                <div class="thumb">
                    <img src="{%url 'medicines:picture' medicine.id%}" alt="{{ medicine.name }} thumbnail" height="15%" width="15%">
                </div>
        {%endif%}
        {%else%}
            <p>Not available right Now :(</p>
        {%endif%}
        {%else%}
            <p>Invalid</p>
    {%endif%}
    <a href="{%url 'medicines:all' %}">Back to catalog</a>
{% endblock%}
