{% extends "base_bootstrap.html" %}
{% load static%}
{% block head %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{%endblock%}
{%block content%}
<h3>Medicine List</h3>
<!--TODO: Make blocks look good-->
{% if search %}
<a href="{%url 'medicines:all'%}">All Medicines</a>
<hr><hr>
{%endif%}
{%if medicine_list%}
{%for med in medicine_list%}
<div class="product">
    <img src="{%url 'medicines:picture' med.id%}" class="product_image" alt="{{med}}">
    <div class="desc">
        <span>{{med}} <br/><br/>
            {{med.quantity}} available</span><br/>
        <a href="{%url 'medicines:detail' med.id%}">View Details</a>
    </div>
    <div>
        <span style="padding: 25px;">&#8377; {{med.price}}</span>
        <a href="{%url 'cart:add' med.slug%}" class="btn btn-success">Add to Cart</a>
    </div>
</div>
<hr>
{%endfor%}
{%else%}
<p>No items Available</p>
{%endif%}
{%endblock%}