{% extends 'base_bootstrap.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{%load static%}
{%block head%}
<title>Medicines | MedStore</title>
<meta name="description" content="List of available medicines on a project site MedStore">
<link rel="stylesheet" href="{% static 'style.css' %}">
{%endblock%}
{% block content %}
<div class="container my-5">
   <h2 class="my-5">Featured Products</h2>
   <div class="row">
      <div class="col-md-3">
         <form method="get">
            {{ filter.form| crispy }}
            <button class="btn btn-secondary container" type="submit">Search</button>
         </form>
      </div>
      <div class="col-md-9">
         <div class="row">
            {% for med in filter.qs %}
            <div class="col-md-6 col-sm-12 col-lg-4">
               <div class="product">
                    <img src="{%url 'medicines:picture' med.id%}" class="product_image" alt="{{med}}">
                   <div class="desc">
                       <a href="{%url 'medicines:detail' med.id%}"><span>{{med}} <br/>
                           {{med.quantity}} available</span><br/></a>
                    </div>
                    <div>
                        <span class="price" style="padding: 25px;">&#8377; {{med.price}}</span>
                        {%if request.user.is_authenticated%}
                        <br/>
                        {%if med in items%}
                        <a href="{%url 'cart:remove' med.slug%}" class="btn btn-danger float-right">Remove from Cart</a>
                        {%else%}
                        <a href="{%url 'cart:add' med.slug%}" class="btn btn-success float-right">Add to Cart</a>
                        {%endif%}
                        {%endif%}
                    </div>
                </div>
                <hr>

               <!-- card // -->
            </div>
            <!-- col // -->
             {%empty%}
                <h3>No Medicines Available</h3>
            {% endfor %}
         </div>
      </div>
   </div>
</div>
{% endblock %}
{% block js %}

{% endblock %}
