{%extends 'base_bootstrap.html' %}
{%block head%}
<title>My Orders</title>
<meta name="description" content="{{request.user.username}} orders">
{%endblock%}
{%block content%}
<h2>My Orders</h2>
{% if orders %}
<div style="overflow: auto;">
<table class="table table-hover" style="overflow-x: auto">
    <tr>
        <th>Date</th>
        <th>Order ID</th>
        <th>Payment ID</th>
        <th>Amount</th>
    </tr>
    {%for item in orders%}
    <tr>
        <td>{{item.orderDate}}</td>
        <td>{{item.orderID}}</td>
        <td>{{item.paymentID}}</td>
        <td>&#8377;{{item.total}}</td>
    </tr>
    {%endfor%}
</table>
</div>
{%endif%}
{%endblock%}
